<%= render "shared/second.header" %>
<div class = 'main'>
  <div class='side-bar'>
    <%= render "shared/side_bar" %>
  </div>

  <div class='main-content'>
    <%# 掲示板 %>
    <div class='board-content'>
      <h1>お知らせ・連絡事項</h1>
      
    </div>
    <%#= 今後の予定 %>
    <div class="plan-content">
      <h1>今後の予定</h1>

    </div>
  </div>

</div>

<%= render "shared/footer" %>