<%= render "shared/header" %>

<div class = 'main'>
  <div class='side-bar'>
    <%= render "shared/side_bar" %>
  </div>

  <div class= 'manual-content'>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
    <div class='manual-box'>
      <p class="title">title</p>
      <div class="video">video</div>
    </div>
  </div>
  
  

</div>

<%= render "shared/footer" %>